.header {
    min-height: 100px;
    max-height: 100px;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    border-bottom: 1px solid #ACACAC;
    .navbar_brand {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
    }
    .navbar_items {
      display: flex;
      li {
        padding: 0 35px;
          a {
            font-size: 20px;
            line-height: 24px;
            color: #333333;
            transition: 0.3s all ease-in-out;
            &.active,&:hover,&:active {
              color: #4B42AD;
            }
          }
      }
    }
    .navbar_btn {
      background: #3CD17F;
      color: white;
      border-radius: 30px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 15px;
      transition: 0.3s all ease-in-out;
      &.active,&:hover,&:active {
        background: #4B42AD;
      }
    }
  }